@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:var {
--font-family: "Montserrat", sans-serif;
}


header{
    position: sticky;
    top: 0;

}
.btnlogin button{
    background-color: #7C0B0B;
    color: white;
    width: 76px;
    height: 40px;
    border-radius: 10px;
    /* padding: 10px 15px; */
}
.btnlogin{
    gap: 80px;
}
.btnlogin ul{
    gap: px;
}
.btnlogin ul li a:hover{
    color: #7C0B0B;
}
/* .btnlogin ul li{
    border: 1px solid #7C0B0B;
} */
@media(min-width:1024px){
    .btnlogin ul{
        gap: 40px;
    }
    
}
.hero{
    background-image: url(./Rectangle\ 1.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.hero button{
    color: #7C0B0B;
}
form{
    padding: 50px;
}
.btnjoin button{
    /* margin: 2px 10px; */
    background-color: #7C0B0B;
    border: none;
    
}
.sec2{
    margin-top: 50px;
}
.textmain h2, p{
    color: #7C0B0B;
}
.form-group select{
    border-color: #7c0b0b67;
    color:#7c0b0b67;
}
.form-group input{
    color: #7c0b0b67;
    border: 1px solid#7c0b0b67;
}
.form-group input::placeholder{
    color: #7c0b0b67;
}
.about{
    /* margin-top: 150px; */
    color: black;
    width: 80%;
    margin: 150px auto;
}
.flexme{
    border: 1px solid #7C0B0B;
    border-radius: 20px;
    

    
    
}
.flexme img{
    margin-top: 10px;
}
.flexme h3{
    margin-top: 10px;
}


/* Section-most */

.mos-t {
  margin-bottom: 40px;
  margin-top: 0px;
  height: 37px;
  gap: 0px;
  opacity: 0px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 36.57px;
}



.box-E {
    background-image: url(./Rectangle\ 11\ \(1\).png);
    width: 267px;
    height: 140px;
    top: 2691px;
    left: 751px;
    gap: 0px;
    border-radius: 30px 30px 30px 30px;
    /* opacity: 0px; */
    background-repeat: no-repeat;
    background-position: center;
}

.box-E img {
    width: 40px;
    height: 40px;
    margin-top: 25px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.box-E h1 {
    font-size: 15px;
    margin-top: 10px;
    font-family: var(--font-family);
    color: #ffffff;  
}

.box-E h6 {

    /* width: 154px; */
    height: 15px;
    opacity: 0px;
    font-family: var(--font-family);
    color: #ffffff;

    font-family: Montserrat;
    font-size: 8px;
    font-weight: 300;

    /* text-align: center;
    text-align-last: center; */
}

.btn-v  button {
    border-radius: 7px;
    border: none;
    text-align: center;
    margin-top: 20px;
    width: 70px;
    height: 30px;
    background-color: #7C0B0B;
    color: #FFFFFF;
    padding: 1px;
    font-size: small;
    font-weight: 300;

}

/* <!-- Testimonials --> */
 .test-box {
    background-image: url(./Rectangle\ 12.png);
    background-repeat: no-repeat;
    border-radius: 30px 30px 30px 30px;
    width: 366px;
    height: 328px;
    gap: 0px;
    border-radius: 30px 30px 30px 30px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-position: center;
    
 }

 /* .test-box {
    text-align: start;
 } */

 .test-box p {
   padding: 40px;
    
    
    
    
 }

 .testimonial-section h1 {
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 800;
    line-height: 36.57px;
    
 }

 .testimonial-section  h6 {
    margin-bottom: 150px;
    font-family: var(--font-family);
    font-size: 10px;
    font-weight: 500;
    line-height: 19.5px;
    color: #7C0B0B;
 }

 .test-box p {
    
    
    
 }


















































/* @media(min-width:375px) {
    .box-E {
        border-radius: 20px;
    }  
} */





/* @media(min-width:1024px){
    .btnlogin ul{
        gap: 40px;
    }



    .btnlogin ul{
        gap: 40px;
    }



 */


































/* .most-section {
    
}

.div-d {
    background-image: url(./Rectangle\ 11\ \(1\).png);
    background-repeat: no-repeat;
    width: 267px;
    Height:198px;
    top: 2692px;
    left: 100px;
    gap: 0px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
    margin: auto;
}

.div-d img {

   margin-top: 0px;
   margin-left: 90px;
   Width: 60px;
   Height: 60px;
   Top: 2730px;
   Left: 203px;
   Border: 1px;
}
.div-d h1 {
    width: 87px;
    height: 20px;
    top: 2803px;
    left: 190px;
    gap: 0px;
    opacity: 0px;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    margin-left: 80px;
    color: #ffffff;
}

.div-d h5 {
    width: 154px;
    height: 15px;
    top: 2836px;
    left: 156px;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    text-align: left;
    color: #ffffff;
    margin-left: 50px;
}

.stella-j {
    background-image: url(./Rectangle\ 11\ \(1\).png);
    background-repeat: no-repeat;
    width: 267px;
    Height:198px;
    top: 2692px;
    left: 100px;
    gap: 0px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
} */











/* 
Width
Fixed (1,427px)
Height
Fixed (100px)
Padding
30px, 0px, 30px, 101px
Gap
477px */