@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:var {
  --font-family: "Montserrat", sans-serif;
}

header {
  position: sticky;
  top: 0;
  z-index: 7;
}
.btnlogin button {
  background-color: #7c0b0b;
  color: white;
  width: 76px;
  height: 40px;
  border-radius: 10px;
  /* padding: 10px 15px; */
}
.btnlogin {
  gap: 80px;
}
.btnlogin ul {
  gap: px;
}
.btnlogin ul li a:hover {
  color: #7c0b0b;
}
/* .btnlogin ul li{
    border: 1px solid #7C0B0B;
} */
@media (min-width: 1024px) {
  .btnlogin ul {
    gap: 40px;
  }
}
.hero {
  background-image: url(./Rectangle\ 1.png);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero button {
  color: #7c0b0b;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  border-radius: 10px;
  height: 40px;
}

justify-content-center align-items-center .form-holding {
  justify-content: space-between;

  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
form {
  padding: 50px;
   


  /* Width: 600%;
    Height: 800px;
    margin-right: 100px;  */
}

.image-form {
    justify-content: center;
    gap: 50px;
    
}

.form-true {
    margin-right: 20px;

}
.rectangle-img {
  /* margin-right: 100px; */
}

.btnjoin button {
  /* margin: 2px 10px; */
  /* background-color: #7C0B0B;
    border: none;
     */
}
.sec2 {
  margin-top: 50px;
}
.textmain h2,
p {
  color: #7c0b0b;
}

.rentangle-img {

}

.textmain h2 {
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: 800;
  line-height: 36.57px;
}

.textmain p {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19.5px;
}

.form-group select {
  border-color: #7c0b0b67;
  color: #7c0b0b67;
}
.form-group input {
  color: #7c0b0b67;
  border: 1px solid#7c0b0b67;
}
.form-group input::placeholder {
  color: #7c0b0b67;
}
.about {
  /* margin-top: 150px; */
  color: black;
  width: 80%;
  margin: 150px auto;
}
.flexme {
  border: 1px solid #7c0b0b;
  border-radius: 20px;
}
.flexme img {
  margin-top: 10px;
}
.flexme h3 {
  margin-top: 10px;
}

/* Section-most */

.mos-t {
  margin-bottom: 40px;
  margin-top: 0px;
  height: 37px;
  gap: 0px;
  opacity: 0px;
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: 700;
  line-height: 36.57px;
  color: #000000;
}

.box-E {
  background-image: url('./Rectangle\11\\(1\).png');
  background-color: #7c0b0b;
  background-size: cover;
  height: 140px;
  gap: 0px;
  border-radius: 30px;
  border: none;
  /* opacity: 0px; */
  background-repeat: no-repeat;
  background-position: center;
}

.box-E img {
  width: 40px;
  height: 40px;
  margin-top: 25px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}

.box-E h1 {
  font-size: 15px;
  margin-top: 10px;
  font-family: var(--font-family);
  color: #ffffff;
}

.box-E h6 {
  /* width: 154px; */
  height: 15px;
  opacity: 0px;
  font-family: var(--font-family);
  color: #ffffff;

  font-family: Montserrat;
  font-size: 8px;
  font-weight: 300;

  /* text-align: center;
    text-align-last: center; */
}

.btn-v button {
  border-radius: 7px;
  border: none;
  text-align: center;
  margin-top: 20px;
  width: 70px;
  height: 30px;
  background-color: #7c0b0b;
  color: #ffffff;
  padding: 1px;
  font-size: small;
  font-weight: 300;
}

/* <!-- Testimonials --> */

.testimonial-section h1 {
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: 800;
  line-height: 36.57px;
}

.our-client {
  margin-bottom: 150px;
  font-family: var(--font-family);

  font-weight: 700;
  line-height: 19.5px;
  color: #7c0b0b;

  font-size: 15px;
  font-weight: 700;
  line-height: 14.63px;
}

.test-box {
  background-image: url(./Rectangle\ 12.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  border: none;
  height: 450px;
  width: 510px;
  width: 100%;

  /* padding-left: 20px;
    padding-right: 20px; */
}

.test-box p {
  margin-top: 65px;
  padding-left: 20px;
  padding-right: 20px;
  color: #000000;

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
}

span {
  display: flex;
  margin-top: 30px;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /* align-items: center;
    gap: 6px;
    margin-top: 7px;
    margin-bottom: 7px; */
}

span img {
  height: 50px;
}

span h6 {
  color: #000000;
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 700;
  line-height: 14.63px;
}

/* subscribe-section */

.subscribe {
  text-align: center;
  margin-top: 100px;
}

.subscribe h1 {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 36.57px;
  color: #000000;
}

.subscribe p {
    font-size: 10px;
    font-weight: 500;
}

.subscribe {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: #7c0b0b;
}

.input-container {
  position: relative;
  display: inline-block;
  margin-top: 30px;
}

.input-container input {
  padding: 20px;
  border-radius: 20px;
  height: 45px;
  width: 300px;
  border: 2px solid #7c0b0b;
}

.input-container button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 10px 10px;
  border-radius: 20px;
  width: 100px;
  background: #7c0b0b;
  color: #ffffff;

  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 300;
  line-height: 19.5px;
}

/* footer section */
.footer-sec {
  background-color: #7c0b0b;
  height: 300px;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.footer-sec .are-you {
  margin-top: 80px;
  width: 40%;
  height: 60px;
  display: flex;
  border-radius: 20px;
  padding: 10px 20px;
}

.img-group img {
  font-size: 30px;
  width: 50px;
  margin-top: -1px;
}

.img-group h6 {
  margin-top: -15px;
  width: 100%px;
  font-size: 10px;
  font-weight: 600;
  color: #000000;
}

.are-you button {
  margin-top: 10px;
  height: 30px;
  width: 80px;
  font-size: 10px;
  border-radius: 10px;
  font-weight: 500;
  color: #ffffff;
  background-color: #7c0b0b;
}

.footer-sec .anchor-part {
  margin: 70px;
}

@media(min-width:768px){
    .subput input{
        width: 350px;
    }
}
footer{
    background: #7C0B0B;
    height: 350px;
    z-index: -300;
}
.con-link{
    position: relative;
    top: 10px;
    margin: auto;
}
.foot{
    padding: 20px;
    display: flex;
    gap: 40px;
    border-radius: 30px;
    height: 110px;
    align-items: center;
    margin: auto;
    background-color: #fff;
    width: 300px;
    justify-content: space-between;
}
.foot h3{
    font-size: 16px;
}
.foot-btn{
    margin: auto;
}
.foot-sub h3{
    font-size: 13px;
    margin: auto;
    font-weight: 700;
}
.foot-btn button{
    background-color: #7C0B0B;
    color: #fff;
    border: none;
    padding: 5px 15px 5px 5px;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: -20px;
    font-size: 16px;
    width: 120px;
    
}
.foot-btn button:hover{
    background-color: #fff;
    color: #7C0B0B;
}

.con-link{
    z-index: ;
    justify-content: space-around;
}
.link{
    display: flex;
}
.links{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.foot-sub{
    background-color: #fff;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.link{
    justify-content: center;
    margin-top: 20px;
    gap: 50px;

}


.links a{
    text-decoration: none;
    color: #fff;
    line-height: 1.5;
}
.links a:hover{
    text-decoration: underline;
}
.social-links{
    margin-top: 30px;
    justify-content: center;
    display: flex;
    gap: 20px;
    height: auto;
}
.social-links a{
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
    font-size: 10px;
}
.foot-sub img {
    margin-bottom: -35px;
    width: 80px;
    height: 70px;
}

.foot-sub h3 {
    font-size: 10px;
    color: #000000;
    font-family: var(--font-family);
}


@media(min-width:768px){
    .con-link{
        display: flex;
        margin-right: 50px;
    }

    .social-links{
        margin-top: 50px;
    }
    .foot{
        margin-top: 12px;
    }
}
@media(min-width:1024px){
    .con-link{
        margin-right: 50px;
        position: relative;
        z-index: ;
        top: 70px;
    }
    .social-links{
        justify-content: start;
        margin-left: 150px;
        margin-top: 100px;
    }
    .foot{
        width: 500px;
    }
    .foot-btn{
        margin-left: 200px;
        margin-top: -10px;
    }
}
@media(min-width:1440px){
    .social-links{
        margin-left: 200px;
    }
    .con-link{
        margin-right: 180px;
    }
}




/* 
.div-footer {
    
    border-radius: 20px;
    width: 25%;
    height: 80px;
    
    
} */

/* .input-container {
  display: inline-flex; 
  align-items: center; 
}

.input-container input {
 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-container button {
  
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 10px; 
} */

/* background-image: url(./Rectangle\ 12.png);
    background-repeat: no-repeat;
    /* bozerdr-radius: 30px 30px 30px 30px; */
/* width: 600%;
    height: 400px;
    gap: 0px;
    border-radius: 30px 30px 30px 30px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background-position: center; */

/* .test-box {
    text-align: start;
 } */

/* .test-box p {
   padding: 20px;
   width: 300px;
   text-align: center;
    
 }


.Profile {
    height: 50px; 
}

.test-box .Profile p {
    height: 20vh;
} */

/* @media(min-width:375px) {
    .box-E {
        border-radius: 20px;
    }  
} */

/* @media(min-width:1024px){
    .btnlogin ul{
        gap: 40px;
    }



    .btnlogin ul{
        gap: 40px;
    }



 */

/* .most-section {
    
}

.div-d {
    background-image: url(./Rectangle\ 11\ \(1\).png);
    background-repeat: no-repeat;
    width: 267px;
    Height:198px;
    top: 2692px;
    left: 100px;
    gap: 0px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
    margin: auto;
}

.div-d img {

   margin-top: 0px;
   margin-left: 90px;
   Width: 60px;
   Height: 60px;
   Top: 2730px;
   Left: 203px;
   Border: 1px;
}
.div-d h1 {
    width: 87px;
    height: 20px;
    top: 2803px;
    left: 190px;
    gap: 0px;
    opacity: 0px;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    margin-left: 80px;
    color: #ffffff;
}

.div-d h5 {
    width: 154px;
    height: 15px;
    top: 2836px;
    left: 156px;
    gap: 0px;
    opacity: 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 14.63px;
    text-align: left;
    color: #ffffff;
    margin-left: 50px;
}

.stella-j {
    background-image: url(./Rectangle\ 11\ \(1\).png);
    background-repeat: no-repeat;
    width: 267px;
    Height:198px;
    top: 2692px;
    left: 100px;
    gap: 0px;
    border-radius: 30px 0px 0px 0px;
    opacity: 0px;
} */
